.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.header {
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  border: 1px solid black;
  background-color: yellow;
  height: 10vh;
}

.intro {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.bio {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.projects {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.contact {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  border: 1px solid black;
  background-color: yellow;
  height: 10vh;
}
