.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(186, 179, 179);
  height: 10vh;
}

.intro {
  display: flex;
  justify-content: center;
  height: 90vh;
  background-image: url('https://i.imgur.com/8jRpW4g.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  border: 1px solid red;
  background-color: rgb(212, 211, 215);
  padding-top: 10vh;
  margin-top: -10vh;
}

.bio-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 8vw);
  grid-template-rows: repeat(10, 7vh);
}

.bio-pic {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 8;
  place-self: center;
}

.bio-p {
  grid-column-start: 4;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 5;
  text-align: center;
  place-self: center;
}

#stack {
  grid-column-start: 4;
  grid-column-end: 11;
  grid-row-start: 6;
  grid-row-end: 7;
  place-self: center;
}

.bio-tech {
  grid-column-start: 4;
  grid-column-end: 11;
  grid-row-start: 7;
  grid-row-end: 9;
  place-self: center;
}

#resume {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 10;
  grid-row-end: 11;
  place-self: center stretch;
}

.projects {
  display: flex;
  justify-content: center;
  height: 90vh;
  border: 1px solid blue;
  background-color: rgb(212, 211, 215);
  padding-top: 10vh;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  background-color: rgb(212, 211, 215);
  padding-top: 10vh;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(186, 179, 179);
  height: 10vh;
}
