@import url('https://fonts.googleapis.com/css?family=Knewave&display=swap');

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(186, 179, 179);
  height: 10vh;
  font-family: 'Knewave', cursive;
}

.link {
  transition: transform .2s;
}

.link:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
  background-image: url('https://i.imgur.com/8jRpW4g.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#name {
  margin-bottom: 35vh;
}

.title {
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  background-color: rgb(212, 211, 215);
  padding-top: 10vh;
  margin-top: -10vh;
}

h1 {
  font-family: 'Knewave', cursive;
}

.bio-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 8vw);
  grid-template-rows: repeat(10, 7vh);
}

.bio-p {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 5;
  text-align: center;
  place-self: center;
}

#stack {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 8;
  place-self: center;
}

.bio-tech {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 9;
  place-self: center;
}

#resume {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 10;
  grid-row-end: 11;
  place-self: center stretch;
}

.projects {
  display: flex;
  justify-content: center;
  height: 90vh;
  background-color: rgb(212, 211, 215);
  padding-top: 10vh;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
  background-image: url('https://i.imgur.com/B81LF7y.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10vh;
  margin-bottom: -10vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(212, 211, 215, .9);
  padding: 5px 25px;
}

input {
  width: 20vw;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 5px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

#message {
  width: 20vw;
  height: 60px;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 5px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

#submit {
  width: 100px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(186, 179, 179);
  height: 10vh;
  font-family: 'Knewave', cursive;
}
